@tailwind base;
@tailwind components;
@tailwind utilities;

@import './scss/iconfont';
@import './scss/fonts';

html {
  font: 16px/1.25 -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Hiragino Sans GB, Simsun, Arial, sans-self;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

#root {
  min-height: 100vh;
  background: rgb(41,54,59);
  background: linear-gradient(45deg, rgba(41,54,59,1) 0%, rgba(20,22,26,1) 50%, rgba(32,34,58,1) 100%);
  color: rgb(245, 245, 245);
}

.flip {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: flipH();
}