@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scss/iconfont";
@import "./scss/fonts";

html {
  font: 16px/1.25 -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Hiragino Sans GB,Simsun,Arial,sans-self;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

#root {
  min-height: 100vh;
  background: rgb(17,17,17);
  color: rgb(245,245,245);
}

.overFlow {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb {
    opacity: 0;
    border-radius: 4px;
  }
  &:hover::-webkit-scrollbar-thumb {
    opacity: 1;
    background: hsla(0, 0%, 53%, 0.4);
  }
  &:hover::-webkit-scrollbar-track {
    opacity: 1;
    background: hsla(0, 0%, 53%, 0.1);
  }
}